[submodule "gazebo_ros_pkgs"]
    path = gazebo_ros_pkgs
    url = https://github.com/ros-simulation/gazebo_ros_pkgs.git
    branch = indigo-devel
[submodule "nf"]
    path = elektron_base/real_effectors/src/nf
    url = https://github.com/mwalecki/nf.git
    branch = master
[submodule "serialcomm"]
    path = elektron_base/real_effectors/src/serialcomm
    url = https://github.com/mwalecki/serialcomm.git
    branch = master
[submodule "rapp-api-elektron"]
    path = rapp-api-elektron
    url =  https://github.com/dudekw/rapp-api-elektron.git
    branch = master
[submodule "netusb_camera_driver"]
    path = netusb_camera_driver
    url =  https://github.com/RCPRG-ros-pkg/netusb_camera_driver.git
    branch = master
