[submodule "rapp-api-elektron"]
    path = rapp-api-elektron
    url =  https://github.com/dudekw/rapp-api-elektron.git
    branch = master
[submodule "netusb_camera_driver"]
    path = netusb_camera_driver
    url =  https://github.com/RCPRG-ros-pkg/netusb_camera_driver.git
    branch = master
[submodule "elektron-real-effectors"]
	path = elektron_base/elektron-real-effectors
	url = https://github.com/dudekw/elektron-real-effectors.git
[submodule "elektron-simulation"]
	path = elektron-simulation
	url = https://github.com/dudekw/elektron-simulation.git
[submodule "elektron-rapps"]
	path = elektron_apps/elektron-rapps
	url = https://github.com/dudekw/elektron-rapps.git
