
<launch>

	<!-- load base controller -->
	<node name="elektron" pkg="elektron_real_effectors" type="elektron_base_re" respawn="true">
		
		<param name="drivesDriverAddress" type="string" value="/dev/ttyUSB1" />
		<param name="sendLoopExecuteRate" type="double" value="10" />
		<param name="readDeviceVitalsRate" type="double" value="1" />

		<param name="axleLength" type="double" value="0.314" />
		<param name="encoderImpulses" type="double" value="20000" />
		<param name="wheelDiameter" type="double" value="0.1" />
		<param name="regulatorRate" type="double" value="100" />
		<param name="maxLinearSpeed" type="double" value="0.254" />
		<param name="maxAngularSpeed" type="double" value="0.87" />

		<param name="commandTimeoutTime" type="double" value="10" />
		<param name="timeoutCommandSendTime" type="double" value="5" />

		<param name="publishOdometryTF" type="bool" value="false" />
		<remap from="cmd_vel_absolute" to="/elektron/mobile_base_controller/cmd_vel"/>
	</node>
	
	 
</launch>
