
<launch>


  <node name="audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
    <param name="bitrate" value="128"/>
		<remap from="/audio" to="/audio_capture"/>
  </node>
  <node name="audio_play" pkg="audio_play" type="audio_play" output="screen">
    <param name="dst" value="alsasink"/>
		<remap from="/audio" to="/audio_play"/>
  </node>

	 
</launch>
