<launch>
  <arg name="laser"/>
  <arg name="tower"/>
  <arg name="tower_sensor"/>
  <arg name="base"/> 

  <arg name="urdf_file" default="$(find xacro)/xacro '$(find elektron_description)/robots/$(arg base)_$(arg laser)_Tower-$(arg tower_sensor).urdf.xacro'" if="$(arg tower)"/>
  <arg name="urdf_file" default="$(find xacro)/xacro '$(find elektron_description)/robots/$(arg base)_$(arg laser)_NoTower.urdf.xacro'" unless="$(arg tower)"/>
  <param name="robot_description" command="$(arg urdf_file)" />
  
</launch>
